.tradingCards {
    height: 25rem;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);    /* Apply shadow to 'trading cards' image, with slight blur */
}

.tradingCards::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/TradingCards.jpg"); /* Image ref: Jeffrey Greenberg/Universal Images Group via Getty Images. (2024). Sports card collection [image]. Fanarch. Available at: https://fanarch.com/blogs/sports-cards/how-big-is-the-sports-card-industry (Accessed: 7 August 2024). Modified: Image cropped for use on webpage. */
    opacity: 0.75;
}

.tradingCardsText {
    font-size: clamp(3rem, 4vw, 4rem);
    font-weight: bold;
    position: relative;
    text-align: center;
    padding-top: 2rem;
    text-shadow: 0px 0px 0.5rem #eee;   /* Apply shadow to text. As it is dark text on multicolour background, I've used a lighter colour to produce a subtle glow effect */
}

