.returntotop {      /* Add button in bottom right corner of screen that takes user back to top of page */
    z-index: 1010;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: grey;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, visibility 0.3s ease;    /* Animate the showing of the 'Top' button */
    transition: all 0.3s ease;
}

.returntotop:hover {
    background-color: #5a5a5a;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.3);     /* Apply shadow to button with blur */
    transform: translateY(-3px);    /* On hover, slightly adjust vertical position of the button */
}
