.carouselgallery {
    width: 100%;
    max-width: 64rem;
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carouselItem {
    flex: 0 0 100%;     /* Disable grow and shrink, and take up container's full width */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.carousel-image {
    width: 100%;
    height: auto;
    object-fit: cover;      /* Ensure container is completely filled by image, maintaining aspect ratio */
    border-radius: 1rem;
    margin-bottom: 2.5rem;
}

figcaption {
    font-size: clamp(0.7rem, 0.9vw, 1rem);
    padding: 0.6rem 0 0 0;
    text-align: center;
    width: 100%;
    background-color: transparent;
}

@media (max-width: 768px) {     /* Apply alternate settings if viewport is <=768px wide */
    .carousel {
        max-width: 90%;
        height: auto;
    }
}