.results-head {     /* Settings for the header of the 'Game Results' data table */
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-size: 1rem;
    background-color: #ccc;
    padding: 0.3rem 0;
}

.results {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1vw;     /* Set font size relative to the viewport width */
    justify-content: space-between;
}

.result1, .result2 {    /* Apply these settings to both classes 'result1' and 'result2' */
    background-color: #e9e9e9;
    padding: 0.8rem;
    width: 25%;
    font-size: 0.8rem;
    box-sizing: border-box;     /* Remove padding and border for overall size of the table cell */
    text-align: center;
}

.result2 {
    background-color: #f0f0f0;
}

.date {
    font-weight: bold;
}

@media (max-width: 768px) {     /* Apply alternate settings if viewport is <=768px wide */
    .results {
        flex-direction: column;
    }

    .result1, .result2 {
        width: 100%;
    }
}